@(employee:Employee)
@main {
    @navigation(employee.getId(), "info") {
            <div class="well">
                <b>
                    @employee.getLastName() @employee.getFirstName() @employee.getMiddleName()
                </b>
            </div>
            <table>
                <tr>
                    <td class="name">
                        Руководитель
                    </td>
                    <td>
                        @if(employee.getManager() != null) {
                            <a href="@routes.EmployeeController.employeeInfo(employee.getManager().getId())">
                                @employee.getManager().getLastName()
                            </a>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="name">Должность</td>
                    <td>@employee.getPosition()</td>
                </tr>
                <tr>
                    <td class="name">Дата приёма на работу</td>
                    <td>@employee.getHireDate().format(views.Constants.UI_DATE_FORMAT)</td>
                </tr>
                <tr>
                    <td class="name">Стаж</td>
                    <td>@employee.getExperienceStr()</td>
                </tr>
                <tr>
                    <td class="name">Отдел</td>
                    <td>
                        <a href="@routes.DepartmentsController.employees(employee.getDepartment().getId())">
                            @employee.getDepartment().getName()
                        </a>
                    </td>
                </tr>
                @if(employee.getTerminationDate() != null) {
                    <tr>
                        <td class="name">Дата увольнения</td>
                        <td>employee.getTerminationDate().format(views.Constants.UI_DATE_FORMAT)</td>
                    </tr>
                }
            </table>
            <br>
            <a class="btn btn-info" id="edit"
               href="@routes.EmployeeController.edit(employee.getDepartment().getId(), employee.getId())"></a>
    }
}