@(employee:Employee)

@main {
    @navigation(employee.getId(), "projects") {
        <table>
            <thead>
                <td class="name"><b>Название</b></td>
                <td class="name"><b>Заказчик</b></td>
                <td class="name"><b>Город заказчика</b></td>
                <td class="name"><b>Проектная роль</b></td>
                <td class="name"><b>Начало проекта</b></td>
                <td class="name"><b>Конец проекта</b></td>
            </thead>
            <tbody>
            @for(assignment <- employee.getAssignments()) {
                <tr>
                    <td>@assignment.getProject().getName()</td>
                    <td>@assignment.getProject().getCustomer().getName()</td>
                    <td>@assignment.getProject().getCustomer().getLocation()</td>
                    <td>@assignment.getRole()</td>
                    <td>@assignment.getStartDate().format(views.Constants.UI_DATE_FORMAT)</td>
                    <td>@assignment.getEndDate().format(views.Constants.UI_DATE_FORMAT)</td>
                    <td>
                        <a class="btn btn-danger" id="delete"
                           href="@routes.AssignmentsController.delete(employee.getId(), assignment.getId())"></a>
                    </td>
                    <td>
                        <a class="btn btn-info" id="edit"
                           href="@routes.AssignmentsController.edit(employee.getId(), assignment.getId())"></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <br>
        <a class="btn btn-success" id="add"
            href="@routes.AssignmentsController.create(employee.getId())">Добавить</a>
    }
}