@(projectForm: Form[Project])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

<fieldset>
    @inputText(projectForm("name"), '_label -> "Название", '_showConstraints -> false)
    @select(
        projectForm("customer.id"),
        options(Customer.getAllCustomersAsOptions),
        '_label -> "Заказчик",
        '_showConstraints -> false
    )
    @inputText(projectForm("startDate"), '_label -> "Дата начала", '_showConstraints -> false, '_help -> "ДД-MM-ГГ")
    @inputText(projectForm("endDate"), '_label -> "Дата окончания", '_showConstraints -> false, '_help -> "ДД-MM-ГГ")
</fieldset>

<div class="actions">
    <input type="submit" value="OK" class="btn btn-primary">
</div>