@(employee:Employee)

@employee_navigation(employee.getId(), "salary") {
    <table>
        <thead>
            <td>Сумма</td>
            <td>Начало</td>
            <td>Конец</td>
        </thead>
        <tbody>
            @for(salary <- employee.getSalaries()) {
            <tr>
                <td>@salary.getValue()</td>
                <td>@salary.getStartDate().format("dd MM yy")</td>
                <td>
                    @defining(salary.getEndDate()){ endDate =>
                        @if(endDate != null){
                            @endDate.format("dd MM yy")
                        }
                    }
                </td>
                <td>
                    <a class="btn success" id="delete"
                       href="@routes.SalaryController.delete(employee.getId(), salary.getId())">удалить</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <a class="btn success" id="add"
       href="@routes.SalaryController.create(employee.getId())">Добавить</a>
}