@(employee:Employee)

@employee_navigation(employee.getId(), "trips") {
<table>
    <thead>
        <td>Место</td>
        <td>Начало</td>
        <td>Конец</td>
    </thead>
    <tbody>
        @for(trip <- employee.getTrips()) {
        <tr>
            <td>@trip.getLocation()</td>
            <td>@trip.getStartDate().format("dd MM yy")</td>
            <td>
                @defining(trip.getEndDate()){ endDate =>
                    @if(endDate != null){
                    @endDate.format("dd MM yy")
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>
}