@main {
<center>
    <br>
    <br>
    <br>
    <h2>Саратовский государственный технический университет имени Ю.А.Гагарина<br></h2>
    <h3>Курсовой проект<br> по дисциплине "Безопасность систем Баз Данных"</h3>
    <h3>Разработка защищенного фрагмента базы данных<br> для поддержки работы предприятия разработки программного обеспечения</h3>
    <h3>Выполнила: студентка группы ИБС-41</h3>
    <h3>Быкова Анна Павловна</h3>
    <h3>Проверил: доцент каф. ИБС</h3>
    <h3>Костюк Валерий Петрович</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Саратов 2014</h4>
</center>
}
