@(section: String)(content: Html)

@menuItems = @{Seq(
    ("departments", "Отделы", routes.DepartmentsController.departmentsList()),
    ("projects", "Проекты", routes.ProjectsController.projectsList()),
    ("customers", "Заказчики", routes.CustomersController.customersList())
)}

<ul class="nav nav-tabs">
    @menuItems.map {
        case (key, title, _) if key == section => {
            <li class="active">
                <a href="#">@title</a>
            </li>
        }
        case (key, title, url) => {
            <li><a href="@url">@title</a></li>
        }
    }
</ul>
@content