@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>База данных сотрудников</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body style="background-image:url(@routes.Assets.at("images/rak.jpg"))">
        <div align="right">
            <a href="@routes.DepartmentsController.departmentsList()"><img src="@routes.Assets.at("images/home.png")"
                border="0" alt="Список отделов..."></a>
        </div>
        <section id="main">
            @content
        </section>
    </body>
</html>
