@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>База данных сотрудников</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body style="background-image:url(@routes.Assets.at("images/rak.jpg"))">
        <div align="right">
            <a href="@routes.Application.index()" title="Титульный лист">
                <img src="@routes.Assets.at("images/home.png")"
                border="0">
            </a>
            <a href="@routes.DepartmentsController.departmentsList()" title="Список отделов">
                <img src="@routes.Assets.at("images/departments.png")"
                border="0">
            </a>
            <a href="@routes.Application.signup()" title="Добавить пользователя в систему">
                <img src="@routes.Assets.at("images/add_user.png")"
                border="0">
            </a>
            <a href="@routes.Application.logout()" title="Выйти из системы">
                <img src="@routes.Assets.at("images/exit.png")"
                border="0">
            </a>
            <a href="@routes.Application.help()" title="Помощь пользователю">
                <img src="@routes.Assets.at("images/question.png")"
                border="0">
            </a>
        </div>
        <section id="main">
            @content
        </section>
    </body>
</html>
